<br>
<h2>
  Welcome to Stand Up Tracker - Please Login!
</h2>
  <form>
    <h4>{{message}}</h4>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password" >
    </div>
    <button (click)=handleJWTAuthLogin() class="btn btn-success" name="submit" type="button">Submit</button>

  </form>
